{% extends 'base/website.html.twig' %}

{% block main %}
    <a href="{{path('app_forum_announcements')}}" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Retour</a>

    <div class="container-fluid w-100 w-md-75">
        <div class="card mt-3 p-4 shadow">
            <div class="card-header">
                <h2>{{annonce.title}}</h2>
            </div>
            <div class="card-body">
                <p>{{annonce.content}}</p>
            </div>
        <div class="d-flex justify-content-between">
            <div class="">{{annonce.createdAt | date("d/m/Y")}} - {{annonce.user.firstName}} {{annonce.user.lastName}}</div>
            <div>
                <form action="{{path('app_forum_announcements_likes',{"slug": annonce.slug})}}" method="POST" style="z-index: 2" data-id="1"> 
                    <button type="submit" class="btn-like position-relative btn">
                        <input type="hidden" name="_token" value="{{csrf_token('like_announcement')}}">
                        {% if annonce.isLiked(app.user) %}
                            <i class="fa-regular fa-thumbs-up text-success"></i>
                            <span class="text-success">{{annonce.likesCount}}</span>
                        {% else %}
                            <i class="fa-regular fa-thumbs-up"></i>
                            <span>{{annonce.likesCount}}</span>
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}