{% extends "base/admin.html.twig" %}

{% block main %}
<div class="bg-light">
    <div class="container-fluid px-4 py-4">
        <div class="d-flex justify-content-between align-items-start mb-4">
            <div>
                <h1 class="fw-bold fs-4 mb-0">Gestion des Sujets Privés</h1>
                <p class="text-muted small mb-0">Vue d'ensemble et modifications</p>
            </div>
        </div>
        {% for message in app.flashes("success") %}
          <span class="text-success fw-semibold">{{message}}</span>  
        {% endfor %}
        {% for message in app.flashes("error") %}
          <span class="text-danger fw-semibold">{{message}}</span>  
        {% endfor %}
        <table id="table-private" class="table" style="cursor:default">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Réservation liée</th>
                    <th>Créé le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in privateSubjects %}
                    <tr>
                        <td>{{ subject.title }}</td>
                        <td>{{ subject.user.firstName }} {{ subject.user.lastName }}</td>
                        <td>{{ subject.reservation.reservedFor|date('d/m/Y') }} de {{ subject.reservation.timeStart|date('H:i') }} à {{ subject.reservation.timeEnd|date('H:i') }}</td>
                        <td>{{ subject.createdAt|date('d/m/Y') }}</td>
                        <td style="cursor:default" class="text-center">
                            <div class="my-1">
                                <a href="{{path("app_admin_forum_subject_edit",{"slug":subject.slug})}}" class="admin_action text-center">
                                    <i class="fa-regular fa-pen-to-square text-secondary"></i>
                                </a>
                            </div>
                            <form class="my-1" action="{{path("app_admin_forum_subject_delete",{"slug":subject.slug})}}" method="POST">
                                <input type="hidden" name="_token" value="{{csrf_token('delete'~subject.slug)}}">
                                <button type="submit" class="admin_action admin_delete_btn btn btn-link p-0">
                                    <i class="fa-regular fa-trash-can text-danger"></i>
                                </button>
                            </form>
                        </td>
                            
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}