{% extends 'base/website.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block main %}
<div class="d-flex flex-column justify-content-between align-items-center h-100 max-width">

        {# Box d'accueil #}
    <div class='bg-light rounded-4 shadow-sm border border-light-subtle d-flex rounded overflow-hidden w-100 py-4 py-md-0'> 
        <div class="d-flex flex-column justify-content-center ms-5">
            <h1 class="fw-bold">Bonjour, {{app.user.firstName}} ! <i class="fa-regular fa-face-smile-beam"></i></h1><br>
            <p class="mb-4">Bienvenue sur votre espace de gestion. <br> 
            {% if  reservations | length == 1 %}
                Vous avez {{reservations | length}} réunion prévue aujourd'hui.
            {% elseif reservations | length > 1 %}
                Vous avez {{reservations | length}} réunions prévues aujourd'hui.
            {% else %}
                Vous n'avez aucune réunion aujourd'hui.
            {% endif %}
            
                Trouvez rapidement une salle pour votre prochain point d'équipe.

            </p>
            <a href="{{path('app_reserve')}}" class="btn btn-warning text-center fw-bold align-content-center btn_reserver_welcome"><i class="fa-regular fa-calendar"></i> Réserver une salle</a>
        </div>
        <div class="box_welcome_img bg-danger d-flex justify-content-end d-none d-md-block">
            <img src="{{asset('images/Office.jpg')}}" class="img_welcome" alt="Office_Photo">
        </div>
    </div>

    {# Boxs de rendez-vous.  #}
    <div class="container-fluid mt-2 mt-md-5 px-0">
        <div class="row min-height g-0">
            <div class="col-12 col-md-6 col-lg-8 bg-light shadow-sm rounded-4 border border-light-subtle p-4 mb-3 mb-md-0">

                {# Haut de la box #}
                <div class="d-flex justify-content-between">
                    <h2 class="fw-bold fs-5"><i class="fa-regular fa-clock fa-lg" style="color: rgb(0, 187, 167);"></i> Vos prochains rendez-vous</h2>
                    <a href="">Voir tout</a>
                </div>

                {# Chaques  réservations #}
                {% if reservations %}
                    {% for reservation in reservations %}
                        <div class="reserve_welcome_page">
                            <a class="stretched-link" href="{{path("app_forum_private_subject", {"slug": reservation.subject.slug})}}"></a>
                            <div style="width: 6rem;" class="ms-2 h-75 bg-light px-3 pt-2 text-center border border-dark-subtle">
                                <span class="fs-6 fw-bold text-body-tertiary pt-2 h-75">AUJ</span> 
                                <div class="d-flex flex-column">
                                    <p  style="text-underline-offset: 5px;" class="fs-6 fw-bold m-0 text-decoration-underline">{{reservation.timeStart | date('H:i')}}</p>
                                    <p class="fs-6 fw-bold m-0">{{reservation.timeEnd | date('H:i')}}</p>
                                </div>
                            </div>
                            <div class="ms-2 d-flex align-items-start h-75 flex-column justify-content-evenly"> {# détails #}
                                <p class="mb-0 fw-bold">Titre : {{reservation.subject.title}}</p>
                                <p class="mb-0 text-body-tertiary">Salle numéro {{reservation.room.roomNumber}} / {{reservation.type.value}}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <p class="text-center fw-bold fs-2">Vous n'avez aucun rendez-vous aujourd'hui.</p>
                    </div>
                {% endif %}

            </div>
            <div class="col-0 col-lg-1 col-md-1 d-none d-md-block">
                {# espace imaginaire #}
                
            </div>
            <div class="col-12 col-md-5 col-lg-3 bg-info shadow-sm rounded-4">
                {# annonces #} 
                <div class="p-4 rounded-4 d-flex flex-column">
                    <h2 class="fw-bold text-white mb-4 fs-5">
                        <i class="fa-solid fa-bullhorn text-success"></i> Annonces
                    </h2>

                    <div class="mb-3">
                        <span class="badge bg-primary text-success rounded-pill mb-2">Titre annonce</span>
                        <p class="description_annonce_welcome_page">Description annonces</p>
                    </div>

                    <hr class="text-white">

                    <div class="mb-4">
                        <span class="badge bg-primary text-success rounded-pill mb-2">Vie de bureau</span>
                        <p class="description_annonce_welcome_page">Petit-déjeuner offert jeudi matin dans l'espace convivialité ! 🤜</p>
                    </div>
                    <div class="">
                        <a href="{{ path('app_forum_public') }}" class="d-block text-center bg-primary text-white rounded-3 py-2">
                            Accéder au forum →
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}