{% extends "base/login.html.twig" %}
{% block main %}
<div class="d-flex justify-content-center align-items-start box_form">
    <div class="form_center shadow px-2">
        <div class="d-flex justify-content-start"><h2 class="fw-bold">Connexion</h2></div>
                {% if error %}
                    {% if error.message %}
                        <span class="text-danger fw-bold">{{error.message | trans(error.messageData, 'security')}}</span>
                    {% else %}
                        <span class="text-danger fw-bold">{{error.messageKey | trans(error.messageData, 'security')}}</span>
                    {% endif %}
                {% endif %}
                {% for message in app.flashes('success') %}
                    <span class="text-success fw-bold">{{message}}</span>
                {% endfor %}
                {% for message in app.flashes('info') %}
                    <span class="text-primary fw-bold">{{message}}</span>
                {% endfor %}
        <div class="middle_form">
            <form class="w-100" action="{{path('app_login')}}" method="post">
                <div class="d-flex flex-column div_input">
                    <label for="email" class="mb-2">Email</label>
                    <input type="email" name="email" id="email" value="{% if error %}{{last_email}}{% endif %}">
                </div>
                <div class="d-flex flex-column div_input mt-3">
                    <label for="password" class="mb-2">Mot de passe</label>
                    <input type="password" name="password" id="password">
                </div>
                <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}">
                <div class="w-100"><button type="submit" class="btn btn-success text-white w-100 text-center align-content-center fw-bold enter-login mt-4">Se Connecter</button></div>
                <div class="ms-2 mt-2">
                    <input type="checkbox" class="form-check-input p-0" name="_remember_me" id="remember_me">
                    <label class="form-check-label" for="remember_me">Se souvenir de moi ?</label>
                </div>
            </form>
        </div>
        <div>
            <div class="text-center mt-2">
                <a href="{{path('app_forgot_password')}}">Mot de passe oublié ?</a>
            </div>
            <hr class="my-3">
            <div class="">
                <span>Pas encore inscript ?</span><a href="{{path('app_register')}}"> Veuillez vous inscrire</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}