{% extends "base/admin.html.twig" %}

{% block main %}
  <div id="vue-app"
    data-users='{{ users|json_encode }}'
    data-reservationsrooms='{{ reservationsRooms|json_encode }}'
    data-reservationtypes='{{ reservationTypes|json_encode }}'
    data-rooms='{{ rooms|json_encode }}'
    data-avatars='{{ asset('images/Logo_2.png') }}'></div>
{% endblock %}